body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: rgb(231, 220, 205);
}

#root {
  flex-direction: column;
  align-items: center;
  width: 66vw;
  box-shadow: rgb(0, 0, 0) 0px 0px 10px 1px;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}